body{
    background-color: white;
}
#slick{
    width: 100%;
    margin: auto;
}
/* .slick1{
    margin-left: 5%;
    margin-right: 5%;
} */
.slick-arrow{
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
}
.slick-next{
    right: 38px;
    top: 40%;
}
.slick-prev{
    left: -10px;
    z-index: 1;
    top: 40%;
}
.carousel{
    width: 100%;
}
.slick-track>.cont1{
    /* height: 85%; */
    width: 100%;
    margin: 0.1%;
}
.slick-track>.cont1>.imgcont{
    width: 100%;
}
.slick-track>.cont1>.imgcont>img{
    width: 78%;
    
}
.slider_content{
    width: 100%;
}
.slider_content>.slider_items{
    width: 100%;
}
.slider_content>.slider_items>img{
    width: 100%;
}
.bottomt{
    margin-left: 10%;
}
.price{
    display: flex;
    /* border: 1px solid red; */
    height: 30px;
    width: 60%;
}
.pricestrike{
    margin-left: 4%;
    
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prodhead{
    font-size: 21px;
    margin-bottom: 0px;
}
.prodesc, .pricestrike{
    color: rgb(158, 156, 156);
    margin-top: 0px;
}
.prodprice{
    margin-top: 0px;
}
.w3-image{
    max-width:100%;
}
.slick-dots{
    top: 80%;
    
}
.slick-dots li button::before {
    font-size: 10px;
    color: #fff;
    opacity: 0.7;
  }

  .slick-dots li.slick-active button::before {
    color: rgb(240, 86, 15);
    opacity: 1;
  }
/* **************************************** */
.bannerimg{
    width: 100%;
}
.bannerimg>img{
    width: 100%;
}
/* ****************************************** */
.imgflex{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 15%; */
}
.imgdivflex{
    margin-left: 3%;
}
.imgdivflex>img{
    width: 100%;
}
p{
    color: black;
}
#whole{
    width: 100%;
}
.flexbody{
    width: 75%;
    margin: auto;
}
.imgflex{
    width: 100%;
}
.kidsflex{
    display: flex;
}
.kidsflex>img{
    max-width: 20%;
    margin-bottom: 2%;
}